@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Roboto&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container{
  text-align: center;
}

.progress-container{
  position: relative;
  display: flex;
  max-width: 100%;
  width: 300px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.progress-container::before {
  content: '';
  background-color: lightgray;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 3px;
  width: 100%;
  z-index: -1;
  }

.progress {
background-color: deepskyblue;
position: absolute;
top: 50%;
left: 0;
transform: translateY(-50%);
height: 3px;
width: 0;
z-index: -1;
transition: .4s ease;
}

.circle {
  background-color: white;
  color: lightgray;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
}


.circle.active{
  border-color:deepskyblue ;
}

.btn{
  background-color: deepskyblue;
  color: white;
  cursor: pointer;
  padding: 8px 30px;
  border-radius: 6px;
  font-size: 1rem;
  margin: 5px;
  border: none;
}
.btn:focus{
  outline: none;
}
.btn:active{
  transform: scale(0.98);
}

.btn:disabled{
  background-color: lightgray;
  cursor: not-allowed;
}